# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
.env.*.local

# build output
dist/
.expo/
web-build/

# expo
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# supabase local
supabase/.branches
supabase/.temp

# os
.DS_Store

# logs
*.log
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/
